export(coalesce)
export(crowding_distance)
export(dominated_hypervolume)
export(emoa_console_logger)
export(emoa_control)
export(emoa_logger)
export(emoa_null_logger)
export(epsilon_indicator)
export(hypervolume_contribution)
export(hypervolume_indicator)
export(inbounds)
export(is_dominated)
export(is_maximally_dominated)
export(nds_cd_selection)
export(nds_hv_selection)
export(nds_rank)
export(nondominated_ordering)
export(nondominated_points)
export(normalize_points)
export(pm_control)
export(pm_operator)
export(r1_indicator)
export(r2_indicator)
export(r3_indicator)
export(sbx_control)
export(sbx_operator)
export(steady_state_emoa_control)
export(sympart)
export(UF1)
export(UF10)
export(UF2)
export(UF3)
export(UF4)
export(UF5)
export(UF6)
export(UF7)
export(UF8)
export(UF9)
export(unary_r2_indicator)
export(which_points_on_edge)
useDynLib(emoa,do_crowding_distance)
useDynLib(emoa,do_dominated_hypervolume)
useDynLib(emoa,do_eps_ind)
useDynLib(emoa,do_hv_contrib)
useDynLib(emoa,do_is_dominated)
useDynLib(emoa,do_pm)
useDynLib(emoa,do_r_ind)
useDynLib(emoa,do_sbx)
useDynLib(emoa,do_sympart)
useDynLib(emoa,do_unary_r2_ind)
useDynLib(emoa,do_which_points_on_edge)
useDynLib(emoa,nondominated_order)
